/* ====================================== UNIVERSAL ====================================== */

/* ====================================== SECTION 1 ====================================== */

#sec1.container {
  padding: 0;
  /* background-color: rgb(255, 127, 185); */
}

#sec1 .jumbotron {
  padding: 15rem 15rem;
  /* background-color: rgb(255, 127, 185); */
  background-image: url(../img/jumbtroo.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin-top: 8rem;
  margin-bottom: 2rem;
  /* filter: brightness(90%); */
  color: white;
}

#sec1 .jumbotron h1 p {
  color: white;
  text-shadow: 3px 2px 1px grey;
}

/* ================================ S2 TOP ================================ */
#sec2.container {
  width: 100%;
  /* background-color: yellow; */
  height: 90vh;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#sec2.container .top {
  width: 35%;
  margin: auto;
  /* background-color: green; */
  text-align: center;
  justify-content: center;
  margin-bottom: 3rem;
}
#sec2.container .down {
  /* background-color: green; */
  width: 60%;
}
#sec2.container .down img {
  width: 100%;
  filter: brightness(80%);
}

/* ================================ S3 TOP ================================ */
#sec3.container {
  width: 100%;
  /* background-color: yellow; */
  height: 90vh;
  /* margin-top: 5rem;
  margin-bottom: 5rem; */
}
#sec3.container .top {
  width: 45%;
  margin: auto;
  /* background-color: green; */
  text-align: center;
  justify-content: center;
  margin-bottom: 3rem;
}
/* #sec3.container .top p {
  font-size: 2rem;
} */
#sec3.container .down {
  /* background-color: green; */
  width: 80%;
}
