/* ====================================== UNIVERSAL ====================================== */


/* ====================================== SECTION 1 ====================================== */
#sec1 {
    background: #FCFFF9;
}

#sec1 h1 {
    color: #FCFFF9;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 127.778% */
}

#sec1 h2 {
    color: #FCFFF9;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

#sec1 h3 {
    color: #21272A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}


#sec1 p {
    color: #8D8BA7;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
}

#sec1 a {
    text-decoration: none;
    color: var(--primary-90, #001D6C);

    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: 140%; /* 19.6px */
}

#sec1 .btn-login-1 {
    border-radius: 40px;
    border: 1px solid #219EBC;
    background: #FCFFF9;
    padding-inline: 36px;
    padding-block: 24px;

    color: #219EBC;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 100% */
}

#sec1 .btn-login-2 {
    border-radius: 40px;
    background: #219EBC;
    padding-inline: 36px;
    padding-block: 24px;
    
    color: #FCFFF9;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 100% */
}

#sec1 .card1 {
    background: #219EBC;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding-inline: 75px;
    padding-block: 130px;
}

#sec1 .card2 {
    border-radius: 20px;
    border: 1px solid #006D5B;
    background: #FCFFF9;
    width: 100%;
    height: 100%;
    padding-inline: 75px;
    padding-block: 130px;
}

@media (max-width:1200px) {
    #sec1 {
        padding-block: 50px;
    }
}